{% block link_button_widget %}

    {# This must be `<div> explicitly as Symfony form will otherwise submit form when the element is '<button>`#}
    <a href="{{ href }}" target="{{ target }}">
        <div {{ block('widget_attributes')}}>{{ label }}</div>
    </a>

{% endblock %}