<li class="nav-item">
    <a href="{{ path('modules_mailing_overview') }}" class="nav-link">
        <span class="sidebar-icon">
            <span class="fas fa-envelope-open-text"></span>
        </span>
        <span>{{ 'sidebar.menu.nodes.mailing.label' | trans }}</span>
    </a>
</li>