<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <ul class="nav flex-column">
            {% include 'base-layout-components/sidebar-menu/components/menu-navigation.twig' %}
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            {% include 'base-layout-components/sidebar-menu/components/menu-footer.twig' %}
        </ul>
    </div>
</nav>








