<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">

        {% include 'base-layout-components/topbar-menu/components/search.twig' %}

        <ul class="navbar-nav align-items-center">
          {% include 'base-layout-components/topbar-menu/components/notifications.twig' %}
          {% include 'base-layout-components/topbar-menu/components/menu-navigation.twig' %}
        </ul>
      </div>
    </div>
</nav>