<section data-page-content-wrapper-content>
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <h2 class="h5 mb-4">General information</h2>
            </div>
        </div>
    </div>
</section>