<div class="d-flex">
    <form class="navbar-search form-inline" id="navbar-search-main">
        <div class="input-group input-group-merge search-bar">
            <span class="input-group-text" id="topbar-addon"><span class="fas fa-search"></span></span>
            <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
        </div>
    </form>
</div>
