@import 'colors';
@import 'fonts';
@import 'libs/material';

.soft-border-bottom {
  border-bottom: 0.5px solid rgba(0,0,0,0.15)
}

* {
  font-family: "Roboto-Regular";
  letter-spacing: 0.2px;
  font-size: 14px;
}

.btn-danger-blackened {
  color: #262B40 !important;
  background-color: #ef7d7d !important;
  border-color: #ef7d7d !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(46, 54, 80, 0.075) !important;
}

.action-button-wrapper:hover {
  opacity: 0.7;
}