/* Fonts paths must be relative toward the `public` directory, where paths are a bit different */
/* DO NOT use the `latin-ext` fonts (these won't render properly) just use the `latin`
/* latin-ext */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url('../fonts/Courgette/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url('../fonts/Courgette/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* roboto */
@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 100;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 300;
  src: url('../fonts/NunitoSans/pe03MImSLYBIv1o4X1M8cc8WAc5tU1E.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  src: url('../fonts/NunitoSans/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  src: url('../fonts/NunitoSans/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2') format('woff2');
}

/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  src: url('../fonts/NunitoSans/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2') format('woff2');
}