{#
=========================================================
* Volt - Bootstrap 5 Admin Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)

* Designed and coded by https://themesberg.com

=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.
#}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base-layout-components/head.twig' %}
</head>

<body>
    {% include 'base-layout-components/sidebar-menu/sidebar.twig' %}
<main class="content">
    {% include 'base-layout-components/topbar-menu/topbar.twig' %}

    <section class="page-content-wrapper">
        {% include 'base-layout-components/page-content-wrapper/top-bar.twig' %}
        {% include 'base-layout-components/page-content-wrapper/content.twig' %}
    </section>

    {% include 'base-layout-components/footer.twig' %}
</main>

</body>
</html>