<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base-layout-components/head.twig' %}
</head>
<body>
{# todo: add the images, and urls, add forms #}

<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image"
                 style='background: url("{{ asset('assets/images/login/signin.svg') }}");'>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>