<footer class="footer section py-5">
    <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <p class="mb-0 text-center text-xl-left">
                {{ 'mainPageComponents.footer' | trans | raw }}
            </p>
        </div>
    </div>
</footer>